     * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.head {
    background-color: #0969fb;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px 25px;
    border-radius: 10px;
}

.head .logo img {
    height:40px;
}

.head nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head nav ul {
    list-style: none;
    margin: 20px auto;
}

.head nav ul li {
    padding: 25px 15px;
    display: inline;
}

.head nav ul li a {
    text-decoration: none;
    color: #fff;
}





@media (max-width: 768px) {
    .head nav {
        position: relative;
    }
    .head nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40px;
        background-color: #0969fb
    }
    .head nav i:hover + ul {
        display: flex;
    }
    .head .btn {
        width: 100px;
        height: 40px;
        margin: 10px;
    }
}

