@import url(fonts.css);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "DIN Next LT W23", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
  /* Colors */
    --color-white: #fff;
    --color-primary: #62D0B6;
    --color-gray-50: #F8F8F8;
    --color-gray-100: #EEE;
    --color-gray-200: #6D6D6D;
    --color-gray-300: #A5A5A5;
    --color-gray-400: #666;
    --color-gray-600: #333;
    --color-success: #008c56;
    --color-danger-primary: #F55157;
    --color-BG: #1D1f1F;
    /* sizing */
    --main-border-radus: 6px;
}

/* Start Style Card products */
.spshiol_catagory {
    display: grid;
    grid-template-columns: 278px 278px 278px 278px;
    justify-items: center;
    gap: 30px;
    margin: 50px 0;
    justify-content: center;
}

.card {
    width: 280px;
    height: 430px;
    border-radius: var(--main-border-radus);
    background-color: var(--color-white);
    position: relative;
    border: 1px solid var(--color-gray-100);
    /* padding: 1px; */
}
.card:hover {
    border: 1px solid var(--color-primary);
}
.card .info-state {
    position: absolute;
    top: 20px;
    left: 10px;
    border-radius: 2px;
    padding: 5px 10px;
    color: var(--color-white);
    background-color: var(--color-primary);
    font-size: 11px;
    font-weight: 200;
}
.card .img {
    width: 100%;
    height: 225px;
    border-radius: var(--main-border-radus);
    background-color: #F55157;
}
.card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px 6px 0px 0px;
}
.card .img + div {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.card .info-category {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card .info-category .category-name {
    color: var(--color-primary);
}
.card .info-category .prand-name {
    color: var(--color-gray-600);
    font-weight: 500;
}
.card .info-category .prand-short-descreption {
    color: var(--color-gray-600);
}
.card .info-category .price  {
    font-weight: 600;
    font-size: 18px;
    color: var(--color-danger-primary);
    margin-inline-end: 5px;
}
.card .info-category .disconde  {
    font-weight: 100;
    font-size: 14px;
    color: var(--color-gray-200);
    text-decoration: line-through;
}
.card .card-action {
    display: flex;
    gap: 0 10px;
    margin-top: 20px;
}
.card .card-action .add-Tcard {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid var(--color-gray-100);
    border-radius: var(--main-border-radus);
    color: var(--color-gray-600);
    gap: 0 5px;
    font-size: 15px;
    cursor: pointer;
}
.card .card-action .add-Tcard:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
}
.card .card-action .add-Tcard:hover .add-Tcard i {
    color: var(--color-white);
    
}
.card .card-action .add-Tfavorit {
    padding: 15px;
    border: 1px solid var(--color-gray-100);
    border-radius: var(--main-border-radus);
    gap: 0 5px;
    cursor: pointer;
}
.card .card-action .add-Tfavorit:hover {
    border: 1px solid var(--color-danger-primary);
}
.card .card-action .add-Tfavorit svg {
    color: var(--color-gray-400);
}
.card .card-action .add-Tfavorit:hover svg {
    color: var(--color-danger-primary);
}
/* End Style Card products */

