@import url(fonts.css);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "DIN Next LT W23", sans-serif;
    list-style: none;
    text-decoration: none;
}
:root {
  /* Colors */
    --color-white: #fff;
    --color-primary: #62D0B6;
    --color-gray-50: #F8F8F8;
    --color-gray-100: #EEE;
    --color-gray-200: #6D6D6D;
    --color-gray-300: #A5A5A5;
    --color-gray-400: #666;
    --color-gray-600: #333;
    --color-success: #008c56;
    --color-danger-primary: #F55157;
    --color-BG: #1D1f1F;
}

/* Stert Container Style */
.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 16px;
}

@media (min-width: 640px) {
  .container { max-width: 640px; }
}

@media (min-width: 768px) {
  .container { max-width: 768px; }
}

@media (min-width: 1024px) {
  .container { max-width: 1024px; }
}

@media (min-width: 1280px) {
  .container { max-width: 1200px; }
}
/* End Container Style */
/* Start Top Header */
.full-container {
    background-color: var(--color-gray-50);

}
.top-header ,
.top-header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 13px;
    background-color: var(--color-gray-50);
    color: var(--color-gray-400);
}
.top-header ul {
    gap: 0 10px;
    padding: 10px 0;
}
.top-header ul .gap {
    color: var(--color-gray-300);
}
.top-header ul i {
    color: var(--color-primary);
}

/* End Top Header */
/* Start Header */
.header {
    display: flex;
    align-items: center;
    padding: 20px 0;
    gap: 0 40px;
}
.header .logo {
    display: flex;
    gap: 0 8px;
}
.header .logo img {
    width: 40px;
}
.header .logo div {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: var(--color-gray-600);
    margin-top: -12px;
    font-weight: 700;
}
.header .logo div .s2 {
    margin-top: -6px;
}
.header .search {
    flex: 1; 
    display: flex;
}
.header .search input {
    outline: none;
    padding: 12px 16px;
    width: 100%;
    border: 1px solid var(--color-gray-100);
}
.header .search input::placeholder {
    color: var(--color-gray-300);
}
.header .search button {
    background: transparent;
    outline: none;
    border: none;
    margin-right: -48px;
    padding: 0 15px;
}
.header .search button i {
    color: var(--color-gray-300) ;
}
.header .actions {
    display: flex;
    flex-direction: row;
    gap: 0 20px;
    position: relative;
}


.actions .shopping-card,
.actions .item .user-name {
    cursor: pointer;
}
.actions .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 10px;
}
.actions .item .quantityBG {
    position: absolute;
    top: 0;
    background-color: var(--color-danger-primary);
    color: var(--color-white);
    padding: 1px 5px;
    border-radius: 50%;
    font-size: 12px;
    border: 1px solid var(--color-white);
}
.actions .item .quantityBG span {
    margin-top: -1.5px;
}
.actions .item i {
    color: var(--color-gray-400);
}
.actions .item div {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}
.actions .item .title {
    color: var(--color-gray-300);
    font-weight: 300;
}
.actions .item .chan {
    color: var(--color-gray-600);
    font-weight: 400;
    font-size: 14px;
}

.actions .item .chan i {
    font-size: 10px;
} 
/* End Header */
/* Start list */
.lists {
    background-color: var(--color-BG);
}
.all-category {
    display: flex;
}
.all-category .category {
    color: var(--color-white);
    padding: 10px 10px;
    font-weight: 300;
    width: fit-content;
    cursor: default;
    position: relative;
}
.all-category .category i {
    font-size: 12px;
    margin-inline-start: 5px;
}
.all-category .category .list {
    position: absolute;
    z-index: 8;
    background-color: var(--color-BG);
    padding: 20px 50px;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    top: 43px;
}
.category .list .option {
    padding: 5px 10px;
    text-align: center;
    min-width: 100px;
    border: 1px solid transparent;
}
.all-category .category:hover {
    background-color: #2b2c2c;
}
.all-category .category:hover .list {
    display: grid;
}
.category .list .option:hover{
    border-color: var(--color-gray-50);
}
/* End list */