@import url(fonts.css);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "DIN Next LT W23", sans-serif;
    list-style: none;
    text-decoration: none;
}
:root {
  /* Colors */
    --color-white: #fff;
    --color-primary: #62D0B6;
    --color-gray-50: #F8F8F8;
    --color-gray-100: #EEE;
    --color-gray-200: #6D6D6D;
    --color-gray-300: #A5A5A5;
    --color-gray-400: #666;
    --color-gray-600: #333;
    --color-success: #008c56;
    --color-danger-primary: #F55157;
    --color-BG: #1D1f1F;
}

/* Stert Container Style */
.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 16px;
}

@media (min-width: 640px) {
  .container { max-width: 640px; }
}

@media (min-width: 768px) {
  .container { max-width: 768px; }
}

@media (min-width: 1024px) {
  .container { max-width: 1024px; }
}

@media (min-width: 1280px) {
  .container { max-width: 1200px; }
}
/* End Container Style */
/* Start Top Header */
.full-container {
    background-color: var(--color-gray-50);

}
.top-header ,
.top-header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 13px;
    background-color: var(--color-gray-50);
    color: var(--color-gray-400);
}
.top-header ul {
    gap: 0 10px;
    padding: 10px 0;
}
.top-header ul .gap {
    color: var(--color-gray-300);
}
.top-header ul i {
    color: var(--color-primary);
}

/* End Top Header */
/* Start Header */
.header {
    display: flex;
    align-items: center;
    padding: 20px 0;
    gap: 0 40px;
}
.header .menu {
    display: none;
}
.header .menu i {
    color: var(--color-primary);
    font-size: 38px;
    margin-inline-end: 8px;
}
.header .logo {
    display: flex;
    gap: 0 8px;
}
.header .logo img {
    width: 40px;
}
.header .logo div {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: var(--color-gray-600);
    margin-top: -3px;
    font-weight: 700;
}
/* .header .logo div .s2 {
    margin-top: -6px;
} */
.header .search {
    flex: 1; 
    display: flex;
}
.header .search input {
    outline: none;
    padding: 12px 16px;
    width: 100%;
    border: 1px solid var(--color-gray-100);
}
.header .search input::placeholder {
    color: var(--color-gray-300);
}
.header .search button {
    background: transparent;
    outline: none;
    border: none;
    margin-right: -48px;
    padding: 0 15px;
}
.header .search button i {
    color: var(--color-gray-300) ;
}
.header .actions {
    display: flex;
    flex-direction: row;
    gap: 0 20px;
    position: relative;
}


.actions .shopping-card,
.actions .item .user-name {
    cursor: pointer;
}
.actions .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 10px;
}
.actions .item .quantityBG {
    position: absolute;
    top: 0;
    background-color: var(--color-danger-primary);
    color: var(--color-white);
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
    border: 1px solid var(--color-white);
}
.actions .item .quantityBG span {
    margin-top: 0.5px;
    font-weight: 100;
}
.actions .item i {
    color: var(--color-gray-400);
}
.actions .item div {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}
.actions .item .title {
    color: var(--color-gray-300);
    font-weight: 300;
}
.actions .item .chan {
    color: var(--color-gray-600);
    font-weight: 400;
    font-size: 14px;
}
.actions .item .chan i {
    font-size: 10px;
} 
/* End Header */
/* Start list */
.lists {
    display: flex;
    background-color: var(--color-BG);
}
.all-category {
    display: flex;
}
.all-category .close,
.all-category .all,
.all-category hr{
    display: none;
}

.all-category .category {
    color: var(--color-white);
    padding: 10px 10px;
    font-weight: 300;
    width: fit-content;
    cursor: default;
    position: relative;
}
.all-category .category i {
    font-size: 12px;
    margin-inline-start: 5px;
}
.all-category .category .list {
    position: absolute;
    z-index: 50;
    background-color: var(--color-BG);
    padding: 20px 50px;
    display: none;
    grid-template-columns: minmax(1fr, repeat(4, 1fr));
    gap: 16px;
    top: 39px;
}
.category .list .option {
    padding: 5px 10px;
    text-align: center;
    min-width: 100px;
    border: 1px solid transparent;
}
@media (min-width: 769px) {
    .lists {
    display: flex;
    }
    .all-category .category:hover {
    background-color: #2b2c2c;
    }
    .all-category .category:hover .list {
        display: grid;
    }
    .category .list .option:hover{
        border-color: var(--color-gray-50);
    } 
}
/* End list */

/* Start Mobile Responsife */
@media (max-width: 768px) {
    .top-header {
        width: 100%;
        justify-content: center;
    }
    .top-header .links {
        display: none;
    }
    .actions .item {
        gap: 0 5px;
    }
    .actions .item .info {
    display: none;
    }
    .header .nav {
        display: flex;
        margin-inline-end: 5px;
    }
    .header .menu {
        display: block;
    }
    .header .menu i {
    font-size: 25px;
    }
    .header .logo img {
    width: 30px;
    }
    .header .logo div {
        font-size: 16px;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  1fr 1fr;
        grid-template-areas:
        "nav actions "
        "search search";
        gap: 10px 0;
    }
    .header .nav {
        grid-area: nav;
    }
    .header .search {
        grid-area: search;
    }
    .header .actions {
        grid-area: actions;
        justify-content: flex-end;
        gap: 0 8px;
    }
    .actions .item .quantityBG {
    padding: 2px 6px;
    }
    .actions .item .quantityBG span {
    font-size: 11px;
    font-weight: 100;
    }
    .actions .item .title {
        font-size: 14px;
    }
    .actions .item .price {
        font-size: 12px;
    }
    .lists {
        display: none;
        background-color: rgba(0, 0, 0, 0.454);
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        transition: all 0.5;
        z-index: 12;
    }
    .lists .container {
        padding: 0;
    }
    .all-category {
        display: flex;
        flex-direction: column;
        width: 80%;
        background-color: var(--color-white);
        height: 100vh;
        padding-top: 8px;
        color: var(--color-gray-600);
        position: relative;
        z-index: 3;
        transition: all 0.5s;
    }
    .all-category .close {
        position: absolute;
        top: 16px;
        width: 36px;
        left: -36px;
        background-color: var(--color-danger-primary);
        display: flex;
        justify-content: flex-end;
        z-index: 2;
        padding: 10px 10px;
        color: var(--color-white);
        font-size: 13px;
        border-radius: 12px 0 0 12px;
    }
    .all-category span {
        padding: 10px 20px;
    }
    .all-category hr {
        background-color: var(--color-gray-100);
        height: 2px;
        width: 100%;
        border: none;
        margin-top: 5px;
    }
    .all-category .category {
        color: var(--color-gray-600);
        padding: 10px 0px;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  auto 1fr;
        grid-template-areas:
        "icon select "
        "list list";
        width: auto;
    }
    .category .select {
        grid-area: "select";
    }
    .category i {
        grid-area: "icon";
        justify-self: end;
        margin-inline-end: 20px;
    }
    .category .list {
        grid-area: "list";
    }
    .all-category .active {
        color: var(--color-primary);
    } 
    .all-category .category .list {
        flex-direction: column;
        background-color: var(--color-white);
        padding: 5px 0px;
        position: relative; 
        display: none;
        justify-content: start;
        z-index: 8;
        gap: 16px;
        top: 0px;
        font-size: 14px;
    }
    .all-category .category .show {
        display: flex;
    }
    .all-category .category .list .option {
    text-align: start;
    padding-inline-start: 20px;
    }
}
/* End Mobile Responsife */
/* Start Slider */
.slider {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
}

/* Slides */
.slides {
    filter: brightness(0.4);
    width: 100%;
    height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.slide.active {
  opacity: 1;
}

/* Fixed Text Content */
.slider .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: var(--color-white);
    max-width: 600px;
    z-index: 10;
}

.content h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.content p {
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.6;
    font-weight: 100;
}

.content button {
  padding: 12px 46px;
  border: none;
  background: var(--color-primary);
  color: var(--color-white);
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
    font-weight: 100;
}

/* Navigation Buttons */

.slider .slide-controle {
    position: absolute;
    z-index: 11;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 45px;
}
.slider .slide-controle .nav {
  color: var(--color-white);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* Dots */
.dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 14px;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: var(--color-primary);
  transform: scale(1.1);
}

/* End Slider */
/* Start Mobile Responsife */
@media (max-width: 768px) {
    .slider {
        height: 433px;
    }
    .slider .slide-controle {
        display: none;
    }
    .slider .content {
        width: 100%;
        padding: 15px;
    }
    .slider .content h1 {
        font-size: 33px;
    }
    .slider .content {
        font-size: 13px;
    }
}
